body{
    background: #E9E9E9;
    margin: auto;
}



.elemento{
    color: #fff;
    margin: 5px;    
    /*height: 50px;*/
    width: 48%;
    
    text-align: center;
    /*display: inline-block;*/
}

.elemento3{
    width: 100%;
}
